/* Map and Charts */
body {
	background: #eee;
  margin: 0 !important;
  padding: 0 !important;
}

.header {
  background-color: #010182;
  color: white;
  padding: 30px 0px 30px 0px;
}

.title {
  padding-left: 40px;
  font-size:30px;
}

.school-list {
  float: right;
  margin: -26px 20px 0px 0px;
  cursor: pointer;
}

.content {
	width: 100%;
}

.credits {
  padding-left: 40px;
  margin-top:20px;
  margin-bottom: 10px;
}

.description {
  padding: 0px 40px 0px 40px;
  margin-top:20px;
  margin-bottom: 10px;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  cursor: pointer;
}

.float-left {
	float: left;
}

#legend {
	width: 225px;
	padding-left: 40px;
}

.charts-section {
  text-align: center;
}

@media screen and (min-width: 1246px) {
    .map-and-legend {
    	float: left;
    }
    .charts-section {
    	height: 600px;
    	overflow: scroll;
    }
}

@media screen and (max-width: 1245px) {
    .map-and-legend {
		margin: auto;
    }
	.chart {
		float: left;
	}
}

@media screen and (max-width: 1216px) {
	.chart {
		float: none;
	}
}

.chart-title {
	font-size: 20px;
	margin-bottom: 5px;
}

.bar { 
	fill: #010182;
	font-size:12px;
	cursor: pointer;
}

.graph {
    margin: 10px 0px 10px 0px;
}

.map-and-legend {
	width: 600px;
	height: 450px;
    padding-left: 30px;
}

.maplegend {
	height: 60px;
    width: 150px;
    float:left;
    text-align: center;
}
.maplegend-info {
	margin: 0px 0px 0px 5px;
}
#maplegend-color {
	background-image: linear-gradient(90deg, rgb(207, 207, 232) 0%, rgb(1, 1, 130) 100%);
	height: 30px;
    width: 95px;
    display: inline-block;
    vertical-align: center;
}
.maplegend-label {
	margin: 0px 5px 0px 5px;
	display: inline-block;
}

.text {
	font-family: 'Roboto', 'Open Sans', Arial, Tahoma, sans-serif;
}

.tooltip-title {
	font-weight: bold;
	font-size: 15px;
}

.tooltip-subtitle {
	margin-bottom: 5px;
}
.center {
	text-align: center;
}

.tick {
	font-size: 12px;
}

.thumbnail {
  display: block;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: auto;
  max-width: 80%;
  max-height: 200px;
}

.click-instruction {
  text-align: center;
  font-style: italic;
  margin-top:5px;
}

/* Modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  min-height: 50px;
  max-height: 500px;
  overflow-y: scroll;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-school-title {
  font-size: 15px;
}

.modal-school {
  height: 330px;
  max-width: 240px;
  float: left;
  min-width: 200px;
  margin: 10px auto;
  flex: 1;
  padding: 0 10px
}

.modal-body {
  font-size: 14px;
}

.modal-body > * { /* center all children */
  text-align: center;
  line-height: 20px;
}

.modal-body-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.modal-school-body {
  margin-top: 5px;
}
